/* Nav Styles Only*/
@charset "UTF-8";

.topnav {
    overflow: hidden;
    background-color: rgba(136, 124, 126, 0.9);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: rgb(37, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ab7575;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #b1cce2;
    color: rgb(95, 61, 61);
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #b4a1a1;
    }
  }
/*-----------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8D8181;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #584b4b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bba8a8;
}

/*----------------------------------------------*/
#nav1{	
    background-color:rgba(136, 124, 126, 0.9);
    z-index: 1000;
    padding:0;
    overflow: hidden;	
    max-width:2170px;
	min-width:300px;
    margin: 0 auto;
}

#nav1 ul{
    margin: 0;
    padding: 0;
   

}
#nav1 ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
     border: solid #1E1913;
}

#nav1 ul li a{
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-size:.8rem; 
    color: #1E1913;
    transition: all .5s ease;
    
}
#nav1 ul li a:hover{
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
}
#nav1 ul li a.selected{
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0,0.5);
}


#CharMainPg{	
    background-color:rgba(83, 83, 83, 0.9);
    z-index: 1000;
    padding:0;
    overflow: hidden;	
    max-width:300px;
	min-width:100px;
    margin: 0 auto;
    
}
#CharMainPg a{
    display: block;
    padding: .2rem;
    text-decoration: none;
    text-align: center;
    font-size:.8rem; 
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}

#FaunaMainPg{	
    background-color:rgba(83, 83, 83, 0.9);
    z-index: 1000;
    padding:0;
    overflow: hidden;	
    max-width:300px;
	min-width:100px;
    margin: 0 auto;
    
}
#FaunaMainPg a{
    display: block;
    padding: .2rem;
    text-decoration: none;
    text-align: center;
    font-size:.8rem; 
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}
