/* Nav Styles Only*/
@charset "UTF-8";

#nav1{	
    background-color:rgba(136, 124, 126, 0.9);
    z-index: 1000;
    padding:0;
    overflow: hidden;	
    max-width:2170px;
	min-width:300px;
    margin: 0 auto;
}

#nav1 ul{
    margin: 0;
    padding: 0;
   

}
#nav1 ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
     border: solid #1E1913;
}

#nav1 ul li a{
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-size:.8rem; 
    color: #1E1913;
    transition: all .5s ease;
    
}
#nav1 ul li a:hover{
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
}
#nav1 ul li a.selected{
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0,0.5);
}


#CharMainPg{	
    background-color:rgba(83, 83, 83, 0.9);
    z-index: 1000;
    padding:0;
    overflow: hidden;	
    max-width:300px;
	min-width:100px;
    margin: 0 auto;
    
}
#CharMainPg a{
    display: block;
    padding: .2rem;
    text-decoration: none;
    text-align: center;
    font-size:.8rem; 
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}

#FaunaMainPg{	
    background-color:rgba(83, 83, 83, 0.9);
    z-index: 1000;
    padding:0;
    overflow: hidden;	
    max-width:300px;
	min-width:100px;
    margin: 0 auto;
    
}
#FaunaMainPg a{
    display: block;
    padding: .2rem;
    text-decoration: none;
    text-align: center;
    font-size:.8rem; 
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}